@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}


@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes hotspotTransition {
    0% {
        transform: translate3d(0,0,0) scale(1);
    }

    100% {
        transform: translate3d(0,0,0) scale(2);
    }
}

@-webkit-keyframes hotspotTransition {
    0% {
        -webkit-transform: translate3d(0,0,0) scale(1);
    }

    100% {
        -webkit-transform: translate3d(0,0,0) scale(2);
    }
}
