.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.aic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.jsb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.l-t-0 {
    left: 0;
    top: 0;
}

.block {
    display: block;
}

.w-full {
    width: 100%;
}

.fauto {
    flex: auto;
}

@mixin tab {
    @media (max-width: 1024px) {
        @content;
    }
}

.container {
    max-width: 80%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;

    @include tab {
        max-width: 100%;
    }
}

.h-screen {
    height: 100vh;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.inline-flex {
    display: inline-flex;
}