.text-input,
.dropdown {
    -webkit-appearance: none;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 18px;
    color: #2F2F2F;
    padding: 19px 32px;
    width: 100%;
    outline: none;
    border: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

input {
    &::placeholder {
        color: #2F2F2F;
    }
}