.nav {
    &_ul {
        &-li {
            &-a {
                font-size: 1rem;
                font-weight: 600;
                color: #fff;
                padding: 20px 36px;

                @include max-tab {
                    padding: 15px 10px;
                }
            }
        }
    }
}