.explore {
    &-l {
        flex: auto;
        max-width: 30%;

        @include tab {
            max-width: initial;
            flex: initial;
            order: 2;
            margin:50px auto 0;
        }

    }

    &-r {
        flex: auto;
        max-width: 50%;

        @include tab {
            max-width: initial;
            flex-basis: 100%;
            order: 1;
        }
    }

    &_content {

        &-h2 {
            text-transform: uppercase;
        }

        &-p {
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            max-width: 450px;

            @include tab {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &-span {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #0098BF;
            margin-top: 18px;

            &-svg {
                margin-right: 30px;
            }
        }
    }

    &-img {

        &.reverse {
            transform: scaleX(-1);
        }
    }

    &-hotspot {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        animation: hotspotTransition 1s ease-in-out infinite alternate;
        -webkit-animation: hotspotTransition 1s ease-in-out infinite alternate;

        &.hotspot-1 {
            top: 18%;
            right: 30%;
        }

        &.hotspot-4 {
            left: 39%;
            top: 23%;
            animation-delay: 15ms;
            -webkit-animation-delay: 15ms;
        }

        &.hotspot-2 {
            right: 34%;
            top: 28%;
            animation-delay: 5ms;
            -webkit-animation-delay: 5ms;
        }

        &.hotspot-3 {
            left: 19%;
            top: 12%;
            animation-delay: 5ms;
            -webkit-animation-delay: 10ms;
        }
    }

    .experience-360 {
        padding: 15px 30px;
        background-color: #0098BF;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        margin-top: 100px;

        @include tab {
            margin-top: 35px;
        }

        .icon-360 {
            margin-left: 15px;
        }

        .degree {
            padding-right: 12px;

            &.ml5 {
                margin-left: 5px;
            }

            &-icon {
                position: absolute;
                right: 4px;
                top: 1px;
                color: #fff;
            }
        }
    }

}