.explore {

    &-l {
        flex: auto;
        max-width: 30%;

        @include tab {
            max-width: initial;
            flex: initial;
            order: 2;
            margin: 0 auto;
        }

    }

    &-r {
        flex: auto;
        max-width: 50%;

        @include tab {
            max-width: initial;
            flex-basis: 100%;
            order: 1;
        }
    }

    &_content {

        &-h2 {
            text-transform: uppercase;
        }

        &-p {
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            max-width: 450px;

            @include tab {
                font-size: 16px;
            }
        }

        &-span {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #0098BF;
            margin-top: 18px;

            &-svg {
                margin-right: 30px;
            }
        }
    }

    &-img {

        &.reverse {
            transform: scaleX(-1);
        }
    }

    &-hotspot {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        animation: hotspotTransition 1s ease-in-out infinite alternate;

        &.hotspot-1 {
            top: 18%;
            right: 30%;
        }

        &.hotspot-4 {
            left: 39%;
            top: 23%;
        }

        &.hotspot-2 {
            right: 34%;
            top: 28%;
        }

        &.hotspot-3 {
            left: 19%;
            top: 12%;
        }
    }

    &-360-icon {
        left: -80px;
        bottom: 15vh;
        width: 60px;
        height: 35px;

        @include tab {
            left: 30px;
        }
    }

}