.featured {
    height: 100%;
    margin: 0;

    video {
        object-fit: cover;
    }

    &_content {
        left: 68px;
        top: 50%;
        transform: translateY(-50%);
        color: #FFFFFF;

        @include max-tab {
            left: 0;
            width: 100%;
            text-align: center;
        }

        &-title {
            font-weight: bold;
            color: #ffffff;
        }

        &-p {
            margin-top: 4px;
            font-weight: 500;
            font-size: 28px;
            line-height: 62px;
            color: #ffffff;

            @include mobile {
                margin-top: 10px;
                font-size: 18px;
                line-height: 22px;
            }
        }

    }
}

/* mouse animation */
.scroll-down {
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 64px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}