.features-container {
    position: relative;
    background-color: #fff;
    top: 0;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}

.features {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 100px);
    overflow: hidden;
    left: 0;

    @include tab {
        width: 100%;
    }
}

.feature {
    position: absolute;
    top: 0;
    left: -180px;
    width: calc(100% + 180px);
    height: 100%;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tab {
        left: 0;
        width: 100%;
        align-items: flex-start;
    }

    &-l {
        flex: auto;
        max-width: 60%;

        @include tab {
            max-width: 100%;
            flex-basis: 100%;

            &.-left-30 {
                left: -30px;
            }
        }

    }

    &-r {
        flex: auto;
        max-width: 30%;
        padding: 0 20px;

        @include tab {
            max-width: 100%;
            flex: inherit;
            margin: 0 auto;
            margin: 5vh auto 0;
            top: 0 !important;
        }
    }

    &_content {
        position: relative;

        @include tab {
            top: 0 !important;
        }

        &-h2 {
            text-transform: uppercase;
        }

        &-p {
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            max-width: 450px;

            @include tab {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &-span {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #0098BF;
            margin-top: 18px;

            &-svg {
                margin-right: 30px;
            }
        }

        &.item-1 {
            top: calc(1% + 20px);
        }

        &.item-2 {
            top: calc(25% + 20px);
        }

        &.item-3 {
            top: calc(7% + 20px);
        }

        &.item-4 {
            top: calc(15% + 20px);
        }

    }

    &-img-w {
        position: relative;
        height: 100%;

        &-img {
            width: 100%;
            height: 100%;

            &.reverse {
                transform: scaleX(-1);
            }
        }
    }

    .degree {
        padding-right: 7px;

        &.ml5 {
            margin-left: 5px;
        }

        &-icon {
            position: absolute;
            right: 0;
            top: 2px;
        }
    }

    &.active {
        opacity: 1;
        z-index: 1;
        animation-name: FadeIn;
        animation-duration: 2s;
        transition-timing-function: linear;
    }

    &-hotspot {
        position: absolute;
        z-index: 1;

        &:before {
            content: '';
            height: 2px;
            width: 25vw;
            background-color: #fd000066;
            position: absolute;

            @include tab {
                display: none;
            }
        }

        &.hotspot-1 {
            left: 60%;
            top: 1%;

            &::before {
                top: 35px;
                left: 35px;
            }
        }

        &.hotspot-2 {
            left: 79%;
            top: 25%;

            &:before {
                width: 15vw;
                top: 35px;
                left: 35px;
            }
        }

        &.hotspot-3 {
            left: 42%;
            top: 7%;

            &::before {
                top: 35px;
                left: 35px;
                width: 35vw;
            }
        }

        &.hotspot-4 {
            left: 60%;
            top: 15%;

            &::before {
                top: 35px;
                left: 35px;
                width: 32vw;
            }
        }
    }

}

.slider-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 50px;
    width: 16px;
    height: 160px;
    z-index: 2;

    @include tab {
        top: auto;
        bottom: 2vh;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: #fff;
    }

    .indicator {
        min-width: 16px;
        height: 16px;
        background: #E6E6E6;
        border-radius: 50%;
        cursor: pointer;
        margin: 20px 0;

        @include tab {
            margin: 10px;
        }

        &.active {
            background: #0098BF;
            cursor: default;
        }
    }

}