.footer {
    background: #0098BF;
    color: #fff;
    padding: 27px 0;
    width: 100%;

    @include mobile {
        padding: 15px 0;
    }

    &-padding {
        padding: 0 44px;
    }

    &_nav {

        @include mobile {
            display: none;
        }

        .nav {
            &_ul {

                &-li {
                    &-a {
                        font-weight: 500;
                    }
                }
            }

        }

        &-2 {
            margin-top: 10px;

            @include mobile {
                display: none;
            }

            .nav_ul {
                justify-content: center;
            }

            .nav_ul-li-a {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }


    &-hr {
        height: 1px;
        background-color: #ffffff;
        margin: 0 0 16px;
        opacity: 0.4;

        @include mobile {
            display: none;
        }
    }

    &-copyright {
        font-size: 12px;
        line-height: 14px;

        @include mobile {
            display: none;
        }
    }
}