.footer {
    background: #0098BF;
    color: #fff;
    padding: 27px 0;

    &-padding {
        padding: 0 44px;
    }

    .nav {
        &_ul {
            @include tab {
                column-count: 2;
                display: block;
                text-align: center;
            }

            &-li {
                &-a {
                    font-weight: 500;
                }
            }
        }

        &-2 {
            margin-top: 55px;

            @include tab {
                margin-top: 25px;
            }

            .nav_ul-li-a {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    &-hr {
        height: 1px;
        background-color: #ffffff;
        margin: 0 0 16px;
        opacity: 0.4;
    }

    &-copyright {
        font-size: 12px;
        line-height: 14px;
    }
}