.header {
    padding: 34px 61px;
    z-index: 10;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;

    @include max-tab {
        padding: 10px 20px;

    }


    &_logo {
        max-width: 172px;

        @include max-tab {
            margin: 0 auto;
        }
    }
}