::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #bcc0c4;
}


html,
body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #bcc0c4;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

section {
    position: relative;

    &.form-footer {
        display: flex;
        flex-direction: column;
    }
}

.lazyload {
    filter: blur(5px)
}


@import '../components/featured';
@import '../components/explore';
@import '../components/features';
@import '../components/search-form';
@import '../abstract/animations';