body {
    overflow: hidden;
}

section {
    .fp-tableCell {
        display: grid;
        place-items: center;
    }
}

.form-footer {
    .fp-tableCell {
        display: flex;
        flex-direction: column;
    }
}

@import '../components/featured';
@import '../components/explore';
@import '../components/features';
@import '../components/search-form';
@import '../abstract/animations';